[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geneXtendeR"]
	path = geneXtendeR
	url = https://github.com/bohdan-khomtchouk/genextender
